{% extends "template.html" %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <figure class="image">
                    <img src="{{ url_for('static', filename='images/news-t-levels.webp')}}" alt="Maxine 1">
                </figure>
                <h2 class="title is-4 has-text-centered">T Levels are one of your options after you’ve finished GCSEs.
                Entry requirements for each course are set by the individual school or college.
                Check with your local T Level school or college to find out the entry requirements for the Digital Production, Design and Development T Level. </h2>
            </div>
        </div>
    </div>
{% endblock %}
